@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --background: #fdfdfd;
  --foreground: #09090b;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Super subtle dot pattern for extreme premium tech feel */
  background-image: 
    radial-gradient(#e2e8f0 1px, transparent 1px),
    radial-gradient(#e2e8f0 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
